<!DOCTYPE html>
<html>
<head>
    <title>Formulario</title>
</head>
<body>
<h2>Seleccion Aula:</h2>
<form action="HorarioAulas.php" method="get">
    <label for="Aula">Día:</label>
    <select id="Aula" name="Aula">
        <option value="Aula1">Aula1</option>
        <option value="Aula2">Aula2</option>
        <option value="Aula3">Aula3</option>
        <option value="Aula4">Aula4</option>
        <option value="Aula5">Aula5</option>
        <option value="Aula6">Aula6</option>
        <option value="Aula7">Aula7</option>
    </select>
    <br>
    <input type="submit" value="Enviar">
</form>
</body>
</html>
