<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="form.html">Regresar</a>
    <hr>
<table empty-cells=show>
    <tr>
        <th></th>
        <th>Lunes</th>
        <th>Martes</th>
        <th>Miércoles</th>
        <th>Jueves</th>
        <th>Viernes</th>
    </tr>
    <tr th:each="set : ${ListaLunes}">
        <td>
            <span th:text="${set.id_aula}"></span><br/>
            <span th:text="${set.hora_inicio} + ' - ' + ${set.hora_fin}"></span><br/>
            <span th:text="${set.profesor}"></span>
        </td>
    </tr>
    <tr th:each="set : ${ListaMartes}">
        <td>
            <span th:text="${set.id_aula}"></span><br/>
            <span th:text="${set.hora_inicio} + ' - ' + ${set.hora_fin}"></span><br/>
            <span th:text="${set.profesor}"></span>
        </td>
    </tr>
    <tr th:each="set : ${ListaMiercoles}">
        <td>
            <span th:text="${set.id_aula}"></span><br/>
            <span th:text="${set.hora_inicio} + ' - ' + ${set.hora_fin}"></span><br/>
            <span th:text="${set.profesor}"></span>
        </td>
    </tr>
    <tr th:each="set : ${ListaJueves}">
        <td>
            <span th:text="${set.id_aula}"></span><br/>
            <span th:text="${set.hora_inicio} + ' - ' + ${set.hora_fin}"></span><br/>
            <span th:text="${set.profesor}"></span>
        </td>
    </tr>
    <tr th:each="set : ${ListaViernes}">
        <td>
            <span th:text="${set.id_aula}"></span><br/>
            <span th:text="${set.hora_inicio} + ' - ' + ${set.hora_fin}"></span><br/>
            <span th:text="${set.profesor}"></span>
        </td>
    </tr>
</table>
</body>
</html>

