<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<a href="form">Regresar</a>
<hr>

<table border="1">
    <thead>
    <tr>
        <th> </th>
        <th>Sesion</th>
        <th> Lunes </th>
        <th> Martes </th>
        <th> Miércoles </th>
        <th> Jueves </th>
        <th> Viernes </th>
    </tr>
    </thead>
    <tbody>
    <div th:each="bloque :${sesiones}">
        <tr th:if="${bloque[0].hora_inicio}">
            <td>
                <p th:text="${bloque[0].hora_inicio}+ '-' +${bloque[0].hora_fin}"></p>
            </td>
            <td>
                <p th:text="${bloque[0].id_sesion}"></p>
            </td>
            <td th:each="sesion : ${bloque}">
                <p th:text="${sesion.id_asignatura}">
            </td>
        </tr>
    </div>
    </tbody>
</table>
</body>
</html>