<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="form">Regresar</a>
    <hr>
<table border="1">
    <tr>
        <th>Horario</th>
        <th>Sesion</th>
        <th>Lunes</th>
        <th>Martes</th>
        <th>Miércoles</th>
        <th>Jueves</th>
        <th>Viernes</th>
    </tr>
    <tr th:each="sesion : ${#numbers.sequence(0, #lists.size(listaLunes)-1)}">
        <td>
            <p th:text="${sesion.hora_inicio}"></p>
            <p th:text="${sesion.hora_fin}"></p>
        </td>
        <td>
            <p th:text="${sesion.id_sesion}"></p>
        </td>
        <td>
            <p th:text="${sesion.id_asignatura}"></p>
        </td>
        <td >
            <p th:text="${sesion2.id_asignatura}"></p>
        </td>
        <td >
            <p th:text="${sesion3.id_asignatura}"></p>
        </td>
        <td >
            <p th:text="${sesion4.id_asignatura}"></p>
        </td>
        <td >
            <p th:text="${sesion5.id_asignatura}"></p>
        </td>
    </tr>
</table>
</body>
</html>

